.App {
  text-align: center;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

.page-content{
  overflow-x: auto;
}


.page-content.with-sidebar {
  margin-left: 20%;
}

@media (max-width: 768px) {
  .page-content{
    margin-left: 0;
  }
}
