body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
  }


  
  .emp-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    /* margin-left: 20%; */
    margin-top: -50px;
  }
  
  .employe-form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  
  .employe-form h2 {
    text-align: center;
    margin-bottom: 20px;
    grid-column: span 2;
  }
  
  .emp-form-group {
    display: flex;
    flex-direction: column;
  }
  
  .emp-form-group label {
    margin-bottom: 5px;
  }
  
  .emp-form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .emp-form-group.full-width {
    grid-column: span 2;
  }
  
  .emp-form-group button {
    width: 100%;
    padding: 10px;
    background-color:  #283D3A;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .emp-form-group button:hover {
    background-color: #00C9B5;
  }
  
  @media (max-width: 768px) {
    .employee-form {
      grid-template-columns: 1fr;
    }
  }
  