body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
   
}

.grievance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    margin-top: 90px;
}

.grievance-table {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
}

.grievance-table h2 {
    text-align: center;
    margin-bottom: 20px;
}

.grievance-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.grievance-table th,
.grievance-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.grievance-table th {
    background-color: #f4f4f4;
}

.grievance-table td {
    background-color: #fff;
}

.grievance-table .response-button {
    padding: 10px;
    background-color: #283D3A;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.grievance-table .response-button:hover {
    background-color: #00C9B5;
}

.grievance-table .resolved-tick {
    font-size: 20px;
    color: green;
}

.grievance-table .unresolved-tick {
    font-size: 20px;
    color: red;
}