.side-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100vh;
  background-color: #161e1e;
  padding: 5px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  transition: transform 0.3s ease-in-out;
  padding-top: 10px;
  margin-top: 84px;
}

.side-panel.with-sidebar{
  transform: translateX(-100%);
}

.side-panel.collapsed {
  transform: translateX(-100%);
}

.img-logo{
  width: 50px;
  object-fit: contain;
  margin-right: 20px;
}

.panel-top{
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: translate(-20px, 0);
}


.side-panel h2 {
  margin-top: 0;
  padding-bottom: 1rem;
}

.side-panel ul {
  padding-top: 10px;
  list-style: none;
  text-align: left;
  margin-left: -40px;
}



.side-panel a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
}

.side-panel a:hover {
  background-color: #00C9B5;
}


@media (max-width: 768px) {
  .side-panel {
    width: 100%;
    transform: translateX(-150%);
  }
}